$grid-gap: 10px;

.listCharacters {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(
      clamp(
        calc(160px - $grid-gap),
        calc(20% - $grid-gap),
        calc(30% - $grid-gap)
      ),
      1fr
    )
  );
  grid-auto-rows: auto;
  gap: $grid-gap;
}
