.search {
  padding: 20px 0px;

  .subtitle {
    text-transform: uppercase;
  }

  .top {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;

    .left {
    }

    .right {
      display: flex;
      align-items: end;
      gap: 20px;
    }

    .input {
      border-bottom: black 2px solid;
      width: 100% !important;

      * {
        &::after {
          border: none !important;
        }
      }

      label {
        color: black;
      }
    }

    .buttons {
      display: flex;
      gap: 10px;
      width: 100%;
      justify-content: space-between;
    }
  }

  @media only screen and (max-width: 768px) {
    .top {
      grid-template-columns: 1fr;
      gap: 15px;

      .right {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }

      .input {
        width: 100%;
      }

      .buttons {
        margin-top: 10px;
      }
    }
  }
}
